body {
  font-family: Helvetica, Arial, sans-serif;
  background: #000;
  font-size: 18px;
  line-height: 1.5em;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  /* Set your content font stack here: */
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 550%;
  line-height: 1em;
  margin: 0;
}

a {
  color: #B8A4CE;
  text-decoration: none;
}

a:visited {
  color: #CDAACE;
}

a:hover {
  color: #E9B3D0;
}

.header, .content {
  width: 748px;
  background: #fff;
  margin: 0 auto;
  padding: 12px;
}

@media (max-width: 748px) {
  .header, .content {
    width: 95%;
    padding: 12px;
  }
}

img {
  display: block;
  width: 100%;
  margin: 32px auto;
}

img.hidden {
  visibility: hidden;
}
